<center><h1>****Nearby Tennis Courts****</h1></center>
<center><h3 style="color:yellow;">****Enter A Location****</h3></center>
<center><h4 style="color:yellow;">****Click on the Markers for Detailed Information****</h4></center>
<div  ng-controller="MapCtrl as vm">
  <ng-map class="map" default-style="false" center="[47.66, -122.34]"
  geo-fallback-center="[47.66, -122.34]"
  geo-callback="placeMarker()"
  geo-callback="vm.callbackFunc('you')"
  >

   <custom-control class="searchControl searchInput" position="TOP_CENTER">


     <input places-auto-complete size=80
                ng-model="vm.address"
                component-restrictions="{country:'us'}"
                on-place-changed="vm.placeChanged()"
               />
               <p>{{vm.address}}</p>
            </custom-control>



            <marker position="[{{tennis.geometry.location.lat}}, {{tennis.geometry.location.lng}}]"
            id={{tennis.name}}
                   ng-repeat="tennis in vm.tennisData.results"
                    on-click="vm.showDetail(tennis)"
                     title="{{tennis.name}}"
                     animation="DROP">
                   </marker>

                  <info-window id="tennisInfo" position="{{vm.tennis.geometry.location.lat}},{{vm.tennis.geometry.location.lng}}">
                <div  class="info-window " ng-non-bindable="" >
                  <p>
                  Name: {{vm.tennis.name}}<br/>
                  Address: {{vm.tennis.vicinity}}<br/>
                  <a href="https://www.google.com/maps/place/?q=place_id:{{vm.tennis.place_id}}"  target = "_blank">Google Maps</a>


                </p>
                </div>
              </info-window>








   </ng-map>      <!-- close map -->

</div>
