<div id=about ng-controller="AboutCtrl">

  <h1 style="color:yellow;">Anyone4Tennis</h1><br>
  <h2 style="color:white;">New in town? Do you love to play tennis? We'll show you where to play.  </h2><br>

  <!-- Seattle Area Parks -->
  <h3 style="color:yellow;">  Seattle Area Public Parks with Tennis Courts</h3>

  <p><a href="http://www.seattle.gov/parks/reserve/tennis-court-reservations/tennis-court-features" target = "_blank"><button class="btn btn-lg btn-primary">Seattle Public Parks</button></a></p>

  <p><a href="https://parks.bellevuewa.gov/sports-and-athletics/outdoor-tennis-courts" target = "_blank"><button class="btn btn-lg btn-primary">Bellevue Public Parks</button></a></p>

  <p><a href="http://rentonwa.gov/parkdirectory/" target = "_blank"><button class="btn btn-lg btn-primary">City of Renton</button></a></p>

  <p><a href="https://www.metroparkstacoma.org/facilities/search.php?features[]=20&keyword=&num_page=1000" target = "_blank"><button class="btn btn-lg btn-primary">Tennis courts in Tacoma</button></a></p>


  <!-- Tennis Gear -->
  <h3 style="color:yellow;">  Seattle Area Tennis Shops</h3>

  <p><a href="http://www.avantisports.com/" target = "_blank"><button class="btn btn-lg btn-primary">Avanti Sports Seattle</button></a></p>
  <p><a href="http://www.sturtevants.com/catalog/tennis/" target = "_blank"><button class="btn btn-lg btn-primary">Sturtevants Sports Bellevue</button></a></p>

  <h3 style="color:yellow;">  Tenis Gear Online</h3>

  <p><a href="http://www.tennis-warehouse.com" target = "_blank"><button class="btn btn-lg btn-primary">Tennis Warehouse</button></a></p>
  <p style="color:white;"><span class="glyphicon glyphicon-heart">Victor Aguiluz 2017...This Tennis Court Mapping site will work anywhere in the U.S.A.</p>








</div>
