



 <div class="jumbotron">
  <h1>GAME SET MATCH</h1>
<!--  <p class="lead">
    <img src="images/Tennis-burj-al-arab-dubai.jpg" width="100%" height="auto"><br>
  -->
  <h3>  Let's Play Tennis! <h3>
  </p>

  <p><a href="#!/map"><button>Find a Court</button></a></p>

</div>

<!--
<div class="row marketing">
  <h4>Tennis Courts in the Greater Seattle Area</h4>
  <p>
    <iframe width="100%" height="auto" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=public+tennis+courts&key=AIzaSyDIHpb4W8x1yLiPkg8KGAZJFrEYZfNl47s" allowfullscreen></iframe>
  </p>
-->
