<center><h1>****Tennis Courts In Your Area****</h1></center>
<div  ng-controller="MapCtrl as vm">
  <ng-map class="map" default-style="false" center="current-position"
  geo-fallback-center="[47.66, -122.34]"
  geo-callback="vm.callbackFunc('you')">

   <custom-control class="searchControl searchInput" position="TOP_CENTER">

     <input places-auto-complete size=80
                ng-model="vm.address"
                component-restrictions="{country:'us'}"
                on-place-changed="vm.placeChanged()"
               />
            </custom-control>

            <marker position="[{{courts.geometry.location.lat}}, {{courts.geometry.location.lng}}]"
                   ng-repeat="courts in vm.courtsData.results"
                    on-click="vm.showDetail(courts)"
                     title="{{courts.name}}"
                     animation="DROP">
                   </marker>

                  <info-window id="foo-iw" position="{{vm.courts.geometry.location.lat}},{{vm.courts.geometry.location.lng}}">
                <div  class="info-window " ng-non-bindable="" >
                  <p>
                  Name: {{vm.courts.name}}<br/>
                  Address: {{vm.courts.vicinity}}<br/>
                  <a href="https://www.google.com/maps/place/?q=place_id:{{vm.courts.place_id}}">Google Maps</a>

                </p>
                </div>
              </info-window>








   </ng-map>      <!-- close map -->

</div>
